{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>passwordchangepage</title>
{% endblock title %}

{% block content %}
<div class='container mt-5'>
<h2>Change Your Password </h2>
<form action='' method='POST' novalidate>
{% csrf_token %}

{% if pcf.non_field_errors %}
{% for err in pcf.non_field_errors %}
{{err}}
{% endfor %}
{% endif %}

{% for form in pcf %}
{{form.label_tag}} {{form}} {{form.errors | striptags}}<br>
{% endfor %}
<input type='submit' class='btn btn-success' value='Change Password'>
</form>
<a href='{% url "commonuser" %}' class='btn btn-light mt-2'>Back to Profile</a>
</div>
{% endblock content %}
